* {
    font-family: 'Montserrat', 'Arial', 'Sans Serif';
    font-weight: 500;
    margin: 0;
    padding: 0;
}

#app {
    width: 100%;
    display: flex;
    justify-content: center;
    min-width: 250px;
    min-height: 100vh;
}

#link-container {
    background: #4c9876;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.pfp {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
}

#radstads {
    background-image: url('./assets/pfp400x400.jpg');
}

#gladstads {
    background-image: url('./assets/Gladstads1.jpg');
}

.title {
    font-size: 1.75rem;
    background: inherit;
    color: #fffefc;
    margin-top: 15px;
    margin-bottom: 25px;
    font-weight: 600;
}

a:hover {
    background: #183b2e;
    color: #fffefc;
}

a:last-of-type {
    margin-bottom: 50px;
}

a {
    height: 64px;
    width: 85%;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background: #fffefc;
    color: #4c9876;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


/* breaking point for linktree is 575 px where it has the rounded corners */

/* dynamic resizing */
@media (min-width:575px) {
    #app {
    background: #183b2e;
    }
  #link-container {
    margin-top: 40px;
    min-width: 575px;
    max-width: 580px;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background: #4c9876;
    padding-top: 15px;
  }
}
